/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */

body {
  max-width: 75rem;
  margin: 0 auto;
  font-family: "Open Sans", serif;
}

/* HEADER */

header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
}

.header--logo {
  max-width: 5rem;
  max-height: 5rem;
}

header ul {
  display: flex;
  gap: 1.25rem;
  padding: 0 0.375rem;
}

header nav li {
  list-style: none;
}

header nav a {
  text-decoration: none;
  color: #000;
  font-size: 0.625rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.selected {
  color: #0282f9;
  border-bottom: 0.25rem solid #0282f9;
  padding-bottom: 1.875rem;
}

header nav a:hover {
  color: #0282f9;
  border-bottom: 0.25rem solid #0282f9;
  padding-bottom: 1.875rem;
}

/* MAIN */

/* PRODUCTS */

/* FOOTER */
